i
  display: inline-block
  width: 1rem
  height: 1rem
  transform: scale(1.4)
  transform-origin: center
  background-size: contain
  background-color: white
  background-repeat: repeat

  &.scan, &.qr-code
    background-image: url('../data/img/qr-code.svg')