inventory
  li
    margin: 0.5rem
    width: 10rem
    height: 10rem
    float: left
    background-color: #34b989
    list-style: none

    img
      width: 100%

  .selected
    box-shadow: 0px 0px 2rem blue