context-action-bar
  $background-color: #222
  $primary-color: #ddd
  $icon-width: 3rem

  position: fixed
  bottom: 0
  width: 100%
  display: flex
  justify-content: space-around
  background-color: $primary-color

  button
    background: none
    border: none

  button:focus
    outline: none

  img
    width: $icon-width

  img:focus
    outline: none

  label
    display: block
    text-align: center

  .main-button
    position: absolute
    left: 50%
    bottom: 0
    transform: translateX(-50%)

    div
      width: $icon-width
      height: $icon-width
      padding: 0.4rem
      border: solid 0.35rem $background-color
      border-radius: 100%
      background-color: $primary-color

  .main-button-space
    width: 4rem

