context-action-bar
  position: fixed
  bottom: 0
  width: 100%
  background-color: #ddd

  img
    width: 3rem

  label
    display: block
    text-align: center

  .main-button
    position: absolute
    left: 50%
    transform: translateX(-50%)

    img
      border: solid 0.2em #222
      border-radius: 100%

  .secondary
    display: flex
    justify-content: space-between

  .secondary:nth-child(3)
    float: right
