@import normalize
/*   --------========          ========-------- */
/* --------======== CUSTOM STYLE ========-------- */
/*   --------========          ========-------- */

body
  background-color: #222

a
  background-color: white

.hide
  display: none

/* LAYOUT */
#container
  display: flex
  flex-direction: column
  justify-content: center

.page
  clear: both


@import header
@import inventory
@import scanner