@import normalize
ul
  padding: 0

/*   --------========          ========-------- */
/* --------======== CUSTOM STYLE ========-------- */
/*   --------========          ========-------- */

body
  background-color: #222

a
  background-color: white

button:disabled
  opacity: 0.5

.hide
  display: none

/* LAYOUT */
#container
  display: flex
  flex-direction: column
  justify-content: center

.page
  display: flex
  justify-content: center

/* MODULES / IMPORTS */
@import header
@import context-action-bar
@import inventory
@import scanner