@import normalize
html, body
  height: 100%

ul
  padding: 0

/*   --------========          ========-------- */
/* --------======== CUSTOM STYLE ========-------- */
/*   --------========          ========-------- */

body
  background-color: #222

a
  background-color: white

button:disabled
  img, label
    opacity: 0.5

.hide
  display: none

/* LAYOUT */
#container
  height: 100%
  display: flex
  flex-direction: column

.page
  overflow: auto
  color: #fff
  display: none
  &.show
    display: initial

/* MODULES / IMPORTS */
@import info-bar
@import context-action-bar
@import inventory
@import scanner